/* Estilo para el fondo */
ion-content {
  --background: #000; // Fondo negro
}

/* Estilo para las letras/títulos */
ion-title, ion-label, ion-button {
  color: #ff0000; // Color rojo para letras
}

/* Estilo para botones con un estilo principal */
ion-button.primary {
  --background: #ff0000; // Fondo rojo
  --color: #000; // Letras negras

  &:hover {
    --background: darken(#ff0000, 10%); // Oscurecer un poco al pasar el mouse
  }
}

/* Si usas otros componentes de Ionic como listas, tarjetas, etc. puedes continuar agregando o ajustando los estilos aquí. */

