/* Estilo para el fondo */
ion-content {
  --background: #000; // Fondo negro
}


ion-title, ion-label, ion-button {
  color: #a9a9a9; // Color rojo para letras
}

ion-button.primary {
  --background: #ff0000; // Fondo rojo
  --color: #cccccc; // Letras negras

  &:hover {
    --background: darken(#ff0000, 10%); // Oscurecer un poco al pasar el mouse
  }
}

ion-header {
  ion-toolbar {
    --background: $primary-color;
    --color: $background-color;
  }
}
