
ion-content {
  --background: #3e649789;
}


ion-title, ion-label, ion-button {
  color: #ffffff; 
}

ion-button {
  --background: #032d65; 
  --color: #cccccc; 

  &:hover {
    --background: darken(#ff0000, 10%);
  }
}

ion-header {
  ion-toolbar {
    --background: $primary-color;
    --color: $background-color;
  }
}
