<ion-header>
  <ion-toolbar>
    <ion-title>Acceso MAVIGPS</ion-title>
    <ion-label class="ion-margin-end">Usuario: {{ loggedInUser }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding">
    <ion-button (click)="showClientForm()">INGRESAR CLIENTE</ion-button>
    
    <div *ngIf="displayForm">
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input [(ngModel)]="client.firstName" type="text" [class.slide-right-animation]="animateInput"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Apellido:</ion-label>
          <ion-input [(ngModel)]="client.lastName" type="text" [class.slide-right-animation]="animateInput"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Nivel de Educación:</ion-label>
          <ion-select [(ngModel)]="client.educationLevel">
            <ion-select-option value="Primaria">Primaria</ion-select-option>
            <ion-select-option value="Secundaria">Secundaria</ion-select-option>
            <ion-select-option value="Universitaria">Universitaria</ion-select-option>
            <!-- Puedes agregar más opciones si lo necesitas -->
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Fecha de Nacimiento:</ion-label>
          <ion-datetime [(ngModel)]="client.birthDate" displayFormat="DD/MM/YYYY"></ion-datetime>
        </ion-item>
        <ion-button (click)="saveClient()">Guardar</ion-button>
        <ion-button (click)="clearClientDetails()">Limpiar</ion-button>
        <ion-button (click)="showClientDetails()">Mostrar</ion-button>
      </ion-list>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <p>&copy; 2023 ARIETIS. Todos los derechos reservados.</p>
      <a href="/">Inicio</a> | 
      <a href="https://mavigps.com/">Contacto</a>
    </div>
  </ion-toolbar>
</ion-footer>
