ion-content {
  --background: #1E1E1E; // Color de fondo oscuro para el contenido

  ion-button {
    --background: #333333; // Color de fondo oscuro para botones
    --color: #FFFFFF; // Color de texto oscuro para botones
  }

  ion-list {
    ion-item {
      ion-label {
        transition: transform 1s;
      }

      &.moved ion-label {
        transform: translateX(100%);
      }
    }
  }
}

mat-form-field {
  width: 100%;
}
