<ion-header>
  <ion-toolbar>
    <ion-title>SOPORTE MAVIGPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="assets/logo.png" alt="">
    <h5>SOPORTE MAVIGPS</h5>
  </div>

  <div class="ion-text-center">
    <h1>Autenticación de Administrador</h1>

          <ion-list>
            <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>    
            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            
          </ion-list>

    <ion-button expand="block" (click)="autenticar()">Ingresar</ion-button>
  </div>

  <ion-footer>
    <div class="ion-text-center">
      <p>&copy; 2023 ARIETIS. Todos los derechos reservados.</p>
      <a href="/">Inicio</a> | 
      <a href="https://mavigps.com/">Contacto</a>
    </div>
  </ion-footer>
</ion-content>
