@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


$background-color: rgb(0, 0, 0);
$primary-color: rgb(255, 255, 255); 
$secondary-color: #bdbdbd;
$dark-color: #707070; 


ion-content {
  --background: $background-color;
}


ion-header {
  ion-toolbar {
    --background: $primary-color;
    --color: $background-color;
  }
}


.ion-text-center {
  color: $primary-color;
}


ion-button {
  --background: $primary-color;
  --color: #000000;
  --background-activated: darken($primary-color, 15%);
}


ion-input {
  --background: $secondary-color;
  --color: $primary-color;
  --border-color: $primary-color;
}

ion-card {
  width: auto;  
  height: auto; 
  margin: auto; 
}

ion-card ion-img {
  position: center;
  width: 75%;
  height: 75%;
 

}


.track {
  background-color: $dark-color;
}


ion-footer {
  --background: $primary-color;
  --color: $background-color;

  a {
    color: $background-color;
    text-decoration: underline;
  }
}
